0035_HolaMundoWSCliente/src/META-INF/wsdl/localhost_8080/0034_HolaMundoWS/SaludoWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.demo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.demo/" name="SaludoWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.demo/" schemaLocation="http://localhost:8080/0034_HolaMundoWS/SaludoWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="saludar">
<part name="parameters" element="tns:saludar"/>
</message>
<message name="saludarResponse">
<part name="parameters" element="tns:saludarResponse"/>
</message>
<message name="getProductCodeById">
<part name="parameters" element="tns:getProductCodeById"/>
</message>
<message name="getProductCodeByIdResponse">
<part name="parameters" element="tns:getProductCodeByIdResponse"/>
</message>
<message name="ProductoException">
<part name="fault" element="tns:ProductosException"/>
</message>
<message name="getListProductCodes">
<part name="parameters" element="tns:getListProductCodes"/>
</message>
<message name="getListProductCodesResponse">
<part name="parameters" element="tns:getListProductCodesResponse"/>
</message>
<portType name="SaludoWebService">
<operation name="saludar">
<input wsam:Action="http://ws.demo/SaludoWebService/saludarRequest" message="tns:saludar"/>
<output wsam:Action="http://ws.demo/SaludoWebService/saludarResponse" message="tns:saludarResponse"/>
</operation>
<operation name="getProductCodeById">
<input wsam:Action="http://ws.demo/SaludoWebService/getProductCodeByIdRequest" message="tns:getProductCodeById"/>
<output wsam:Action="http://ws.demo/SaludoWebService/getProductCodeByIdResponse" message="tns:getProductCodeByIdResponse"/>
<fault message="tns:ProductoException" name="ProductoException" wsam:Action="http://ws.demo/SaludoWebService/getProductCodeById/Fault/ProductoException"/>
</operation>
<operation name="getListProductCodes">
<input wsam:Action="http://ws.demo/SaludoWebService/getListProductCodesRequest" message="tns:getListProductCodes"/>
<output wsam:Action="http://ws.demo/SaludoWebService/getListProductCodesResponse" message="tns:getListProductCodesResponse"/>
</operation>
</portType>
<binding name="SaludoWebServicePortBinding" type="tns:SaludoWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="saludar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductCodeById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProductoException">
<soap:fault name="ProductoException" use="literal"/>
</fault>
</operation>
<operation name="getListProductCodes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SaludoWebService">
<port name="SaludoWebServicePort" binding="tns:SaludoWebServicePortBinding">
<soap:address location="http://localhost:8080/0034_HolaMundoWS/SaludoWebService"/>
</port>
</service>
</definitions>